header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
  background-color: purple;
}

/* retira o circulo dos itens*/
.list-link {
  list-style: none;
}

.list-link a {
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
}

.navigation-menu {
  margin: 40px 2px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  background-color: purple;
}

nav {
  display: none;
}

.navigation-menu img {
  height: 40px;
}
